@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$White: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$normal-weight: 400;
$bold-weight: 700;

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: $normal-weight;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
